html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

.out { position: relative; z-index: 1; }

body { font-family: "Open Sans", sans-serif; font-size: 12px; line-height: 1.4; }

.center { width: 940px; margin: 0 auto; }
@media only screen and (max-width: 939px) { .center { width: auto; margin: 0 30px; } }
@media only screen and (max-width: 767px) { .center { width: auto; margin: 0 20px; } }

.clr { *zoom: 1; }
.clr:after { content: " "; display: table; clear: both; }

a { text-decoration: none; }
a:hover { text-decoration: underline; }
@media only screen and (max-width: 939px) { a:hover { text-decoration: none; } }

sup { vertical-align: top; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }

.header { background: url("../img/header_bg.jpg") no-repeat; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }
.header__in { padding: 25px 0; }
@media only screen and (max-width: 939px) { .header__in { padding: 15px 0; } }
.header__in .logo { float: left; width: 25.53191%; }
.header__in .logo a { display: block; }
.header__in .nav { float: right; padding: 27px 0; width: 74.46809%; }
.header__in .nav__menu { float: left; margin: 0 20px 0 -10px; }
.header__in .nav__menu li { display: inline-block; padding: 0 10px; height: 40px; }
.header__in .nav__menu li a { font-size: 14px; }
.header__in .nav__menu li a i { color: #ffed00; vertical-align: top; margin-left: 5px; }
.header__in .nav__menu li a:hover { color: #ffed00; text-decoration: none; }
.header__in .nav__menu li a.active { color: #ffed00; border-bottom: 2px solid #59db31; }
.header__in .nav__item { position: relative; }
.header__in .nav__item.active .nav__submenu { display: block; }
.header__in .nav__item.active .fa { vertical-align: bottom; -moz-transition: -moz-transform 200ms; -o-transition: -o-transform 200ms; -webkit-transition: -webkit-transform 200ms; transition: transform 200ms; -ms-transform: rotate(180deg); -webkit-transform: rotate(180deg); transform: rotate(180deg); }
.header__in .nav__submenu { display: none; position: absolute; top: 30px; left: 0; background: white; border-top: 1px solid #59db31; border-bottom: 1px solid #59db31; width: 220px; padding: 15px; z-index: 2; box-shadow: 0px 0px 10px -1px #333333; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.header__in .nav__submenu li { display: block; padding: 0 0 15px 0; height: auto; }
.header__in .nav__submenu li:last-child { padding-bottom: 0; }
.header__in .nav__submenu li a { font-size: 14px; color: #333333; padding: 0; font-weight: normal; }
.header__in .nav__submenu li a:hover { color: #469e2c; text-decoration: underline; }
.header__in .nav a { display: inline-block; font-weight: bold; padding: 10px 0; color: white; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
@media only screen and (max-width: 939px) { .header__in .nav { display: none; } }
.header_main { background: none; }

.lang { float: right; }
.lang a.lang__item { text-transform: uppercase; font-weight: normal; padding: 10px; color: white; }
.lang a.lang__item.active { background: #ffed00; -webkit-border-radius: 50%; border-radius: 50%; color: #378125; font-weight: bold; }
.lang_tablet { float: none; }
.lang_tablet a { display: inline-block; font-size: 14px; }

.menu-btn { display: none; padding: 42px 0; float: right; }
.menu-btn span { display: block; position: relative; width: 23px; height: 5px; background: white; }
.menu-btn span:before, .menu-btn span:after { content: ""; position: absolute; left: 0; width: 23px; height: 5px; background: white; }
.menu-btn span:before { top: -9px; }
.menu-btn span:after { top: 9px; }
@media only screen and (max-width: 939px) { .menu-btn { display: block; } }

.tablet-menu { display: none; position: fixed; top: 0; right: 0; bottom: 0; left: 0; text-align: center; padding-top: 220px; background: url("../img/bg_tablet.png") left bottom no-repeat, linear-gradient(#469e2c, #347b24); overflow-y: auto; z-index: 99; }
.tablet-menu.active { display: block; }
.tablet-menu__close { position: absolute; top: 60px; right: 30px; }
.tablet-menu__close i { color: white; }
.tablet-menu__list { padding: 50px 0; }
.tablet-menu__list > li { padding: 15px 0; }
.tablet-menu a { font-weight: lighter; font-size: 30px; color: white; }

.dropdown .tablet-menu__link:after { content: ""; display: inline-block; vertical-align: middle; margin-left: 10px; width: 0px; height: 0px; border-style: solid; border-width: 8px 4px 0 4px; border-color: white transparent transparent transparent; -moz-transition: -moz-transform 200ms; -o-transition: -o-transform 200ms; -webkit-transition: -webkit-transform 200ms; transition: transform 200ms; }
.dropdown .tablet-menu__link.is-open:after { -ms-transform: rotate(180deg); -webkit-transform: rotate(180deg); transform: rotate(180deg); }
.dropdown .tablet-menu__link.is-open .dropdown__list { display: block; }
.dropdown__list { display: none; }
.dropdown__list li { padding: 5px 0; }
.dropdown__list li a { font-size: 24px; }

.mobile-menu { display: none; position: fixed; top: 0; right: 0; bottom: 0; left: 0; text-align: left; background: url("../img/bg_mobile.png") left bottom no-repeat, linear-gradient(#469e2c, #347b24); overflow-y: auto; z-index: 99; }
.mobile-menu.active { display: block; }
.mobile-menu__in { position: relative; padding: 50px 23px 20px 28px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; height: 100vh; }
.mobile-menu__top { position: relative; }
.mobile-menu__close { position: absolute; top: 50%; margin-top: -18px; right: 0; }
.mobile-menu__close i { color: white; }
.mobile-menu__wrapper { overflow: hidden; position: absolute; top: 120px; bottom: 20px; right: 0px; left: 0px; padding: 0 23px 0 28px; }
.mobile-menu__wrapper.is-open .mobile-menu__wrap { left: -110%; }
.mobile-menu__wrap { position: absolute; top: 0; right: 23px; left: 28px; bottom: 0; -moz-transition: -moz-transform 200ms; -o-transition: -o-transform 200ms; -webkit-transition: -webkit-transform 200ms; transition: transform 200ms; }
.mobile-menu__wrap.is-open { -moz-transform: translateX(-100%); -ms-transform: translateX(-100%); -webkit-transform: translateX(-100%); transform: translateX(-100%); }
.mobile-menu__wrap.is-open .mobile-menu__link i { display: none; }
.mobile-menu__list { padding: 10px 0; }
.mobile-menu__link { position: relative; display: block; font-weight: lighter; font-size: 22px; color: white; }
.mobile-menu__link i { position: absolute; right: 0; bottom: 5px; color: white; }
.mobile-menu__link.active span { color: #ffed00; border-bottom: 2px solid #59db31; }
.mobile-menu__submenu { position: absolute; top: 0; bottom: 0; width: 100%; left: 100%; }
.mobile-menu__submenu.is-open { left: 20px; }
.mobile-menu__submenu ul li { padding: 10px 0; }
.mobile-menu__submenu ul li a { font-weight: lighter; font-size: 16px; color: white; }
.mobile-menu__submenu ul li a.active { color: #ffed00; border-bottom: 2px solid #59db31; }

.mob-back { margin-left: -18px; font-weight: lighter; font-size: 22px; color: white; }
.mob-back i { margin-right: 10px; }

.topper { background: -moz-radial-gradient(circle at top center, #469e2c 0%, #337823 100%); background: -webkit-radial-gradient(circle at top center, #469e2c 0%, #337823 100%); background: -o-radial-gradient(circle at top center, #469e2c 0%, #337823 100%); background: -ms-radial-gradient(circle at top center, #469e2c 0%, #337823 100%); background: radial-gradient(circle at top center, #469e2c 0%, #337823 100%); color: white; }
.topper__wrap { width: 53.19149%; margin: 0 auto; padding: 90px 0 165px; text-align: center; }
@media only screen and (max-width: 767px) { .topper__wrap { width: 100%; padding: 5px 0 45px; } }
.topper__wrap h1 { font-weight: lighter; font-size: 36px; }
.topper__wrap p { padding: 25px 0; font-size: 16px; line-height: 1.5; }
.topper__more a { font-weight: bold; font-size: 14px; color: white; }
@media only screen and (max-width: 767px) { .topper__more a { display: inline-block; vertical-align: top; width: 100px; } }
.topper__more a i { color: #ffed00; vertical-align: middle; padding-right: 10px; }
@media only screen and (max-width: 767px) { .topper__more a i { display: block; margin-bottom: 10px; } }
.topper__more a:first-child { margin-right: 35px; }

.production { text-align: center; padding: 45px 0 85px; }
.production h2 { display: inline-block; font-weight: lighter; font-size: 36px; }
.production h2 p { display: inline-block; vertical-align: super; padding-left: 5px; font-size: 12px; color: #9a9a9a; }
.production__wrap { padding: 35px 0; font-size: 0; }
.production__item { width: 240px; height: 240px; margin: -10px 0 0 -10px; padding: 20px 40px; display: inline-block; vertical-align: top; webkit-border-radius: 50%; border-radius: 50%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
@media only screen and (max-width: 767px) { .production__item { margin-left: 0; } }
.production__item p { font-size: 16px; padding-top: 10px; }
.production__item p:nth-child(2) { font-weight: 600; }
.production__item .counter ul li p { color: #333333; }
.production__item.item1 { border: 10px solid rgba(229, 121, 0, 0.3); margin-left: 10px; }
@media only screen and (max-width: 767px) { .production__item.item1 { margin-left: 0; } }
.production__item.item1 p, .production__item.item1 .counter__item p { color: #e57900; }
.production__item.item1 .counter__item { border: 1px solid #e57900; }
.production__item.item2 { border: 10px solid rgba(0, 159, 227, 0.3); }
.production__item.item2 p, .production__item.item2 .counter__item p { color: #009fe3; }
.production__item.item2 .counter__item { border: 1px solid #009fe3; }
.production__item.item3 { border: 10px solid rgba(175, 134, 85, 0.3); }
.production__item.item3 p, .production__item.item3 .counter__item p { color: #af8655; }
.production__item.item3 .counter__item { border: 1px solid #af8655; }
.production__item.item4 { border: 10px solid rgba(47, 112, 170, 0.3); }
.production__item.item4 p, .production__item.item4 .counter__item p { color: #2f70aa; }
.production__item.item4 .counter__item { border: 1px solid #2f70aa; }
.production a { font-size: 14px; font-weight: bold; color: #3675aa; }
.production a i { color: #469e2c; vertical-align: middle; padding-right: 10px; }
.production a:hover { color: #469e2c; }

.counter { margin: 15px -20px 5px; }
.counter ul li { width: 22px; display: inline-block; vertical-align: middle; border: 1px solid #dadada; webkit-border-radius: 2px; border-radius: 2px; margin-left: 1px; }
.counter ul li p { padding: 0; font-family: "Open Sans Condensed", sans-serif; font-weight: lighter; font-size: 27px; }

.news__in { border-top: 1px solid #dadada; padding: 35px 0; font-size: 0; }
.news__title { width: 25%; display: inline-block; vertical-align: top; }
@media only screen and (max-width: 767px) { .news__title { width: 100%; display: block; text-align: center; } }
.news__title h3 { font-weight: lighter; font-size: 24px; }
.news__wrap { position: relative; width: 25%; display: inline-block; vertical-align: top; padding: 0 20px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
@media only screen and (max-width: 767px) { .news__wrap { width: 100%; display: block; text-align: center; margin-top: 25px; } }
.news__wrap a { font-size: 13px; color: #3675aa; line-height: 1.6; }
.news__wrap a:visited { color: #6d36aa; }
.news__wrap a:hover { color: #469e2c; }
.news__wrap p { padding-top: 15px; font-size: 12px; color: #9a9a9a; }
@media only screen and (max-width: 767px) { .news__wrap p { padding-top: 10px; } }
.news__wrap:before { content: ""; position: absolute; top: 10px; left: 0; height: 1px; width: 13px; background: #4eaf30; }
@media only screen and (max-width: 767px) { .news__wrap:before { display: none; } }

.footer__in { padding: 20px 0; border-top: 2px solid #469e2c; }
@media only screen and (max-width: 939px) { .footer__in { text-align: center; } }
.footer__menu { float: left; }
@media only screen and (max-width: 939px) { .footer__menu { float: none; } }
.footer__menu ul { margin: 0 -10px; }
.footer__menu ul li { display: inline-block; padding: 10px; }
@media only screen and (max-width: 939px) { .footer__menu ul li { padding: 5px 5px 20px; } }
@media only screen and (max-width: 767px) { .footer__menu ul li { width: 100%; display: block; text-align: center; } }
.footer__menu ul li a { display: inline-block; font-size: 14px; color: black; }
.footer__menu ul li a:visited { color: black; }
.footer__menu ul li a:hover { color: #469e2c; }
.footer__menu ul li a.active { color: #469e2c; }
.footer .copyright { float: right; }
@media only screen and (max-width: 939px) { .footer .copyright { float: none; } }
.footer .copyright p { font-size: 13px; color: #9a9a9a; }

.main__top { margin-top: 30px; padding-left: 25.53191%; }
@media only screen and (max-width: 767px) { .main__top { width: 100%; padding: 0; } }
.main__top .breadcrumbs a { font-size: 12px; color: #9a9a9a; text-decoration: underline; }
.main__top .breadcrumbs a.active { text-decoration: none; font-weight: bold; }
.main__top .breadcrumbs a.active:hover { text-decoration: underline; }
.main__title { font-weight: lighter; font-size: 36px; color: #377f25; margin-top: 10px; }
.main__in { padding: 30px 0; }
.main__wrap { width: 74.46809%; float: left; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
@media only screen and (max-width: 767px) { .main__wrap { width: 100%; } }
.main__wrap.wrap-right { width: 56.38298%; padding-right: 30px; }
@media only screen and (max-width: 939px) { .main__wrap.wrap-right { width: 38.87114%; padding-right: 10px; } }
@media only screen and (max-width: 767px) { .main__wrap.wrap-right { width: 100%; } }

.sidebar { width: 25.53191%; float: left; }
@media only screen and (max-width: 939px) { .sidebar { padding-bottom: 70px; } }
@media only screen and (max-width: 939px) { .sidebar ul { width: 70.83333%; } }
.sidebar ul li { padding-bottom: 20px; }
.sidebar ul li a { color: #3675aa; font-size: 14px; padding-bottom: 5px; }
.sidebar ul li a:hover { color: #469e2c; }
.sidebar ul li a.active { color: #333333; border-bottom: 2px solid #469e2c; text-decoration: none; }
@media only screen and (max-width: 939px) { .sidebar ul li a.active { padding-bottom: 0; } }
@media only screen and (max-width: 767px) { .sidebar_left { display: none; } }
.sidebar_right { width: 140px; text-align: center; float: right; }
@media only screen and (max-width: 767px) { .sidebar_right { width: 100%; padding-bottom: 0; } }
.sidebar__wrap { border: 1px solid #dadada; padding: 20px; width: 140px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
@media only screen and (max-width: 939px) { .sidebar__wrap { width: 100%; } }
.sidebar__wrap a { font-size: 16px; color: #3675aa; }
.sidebar__wrap a i { color: #469e2c; padding-bottom: 13px; }
.sidebar__wrap a span { font-size: 12px; color: #9a9a9a; }
.sidebar__wrap a:hover { color: #469e2c; }

.about { padding-bottom: 30px; }
.about p { font-size: 16px; color: #333333; line-height: 1.5; padding-bottom: 10px; }
.about > ul li { position: relative; padding-left: 40px; }
.about > ul li:before { content: ""; position: absolute; top: 10px; left: 15px; height: 1px; width: 13px; background: #4eaf30; }

.directors__in { padding-bottom: 50px; }
.directors__pic { float: left; }
@media only screen and (max-width: 767px) { .directors__pic { float: none; text-align: center; } }
.directors__wrap { float: left; margin-left: 25px; width: 74.28571%; font-size: 16px; color: #333333; }
@media only screen and (max-width: 767px) { .directors__wrap { width: 100%; margin: 0; text-align: justify; } }
.directors__wrap h4 { font-weight: bold; padding-bottom: 5px; }
.directors__wrap span { color: #9a9a9a; }
.directors__wrap p { font-size: 13px; line-height: 1.6; padding-top: 10px; }

.career { float: left; width: 68.57143%; margin-bottom: 20px; }
@media only screen and (max-width: 939px) { .career { width: 100%; } }
.career p { font-size: 16px; color: #333333; line-height: 1.5; padding-bottom: 15px; }
.career ul li { display: block; }
.career ul li a { display: inline-block; padding-bottom: 10px; font-size: 16px; font-weight: bold; color: #3675aa; }
.career ul li a i { color: #ffed00; vertical-align: middle; padding-right: 10px; }
.career ul li a .career__more { display: none; padding-left: 35px; font-size: 14px; color: #333333; font-weight: normal; }
.career ul li a.active .career__more { display: block; }
.career ul li a.active:hover { text-decoration: none; }
.career ul li a:hover { color: #469e2c; }

.contacts { float: right; width: 220px; }
@media only screen and (max-width: 939px) { .contacts { width: 100%; } }
.contacts__wrap { border: 1px solid #dadada; padding: 20px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.contacts__wrap h5 { font-size: 24px; font-weight: lighter; color: black; }
@media only screen and (max-width: 939px) { .contacts__wrap form { margin: 0 -20px; } }
.contacts__wrap form label { position: relative; display: block; }
@media only screen and (max-width: 939px) { .contacts__wrap form label { display: inline-block; width: 45%; margin-left: 20px; } }
@media only screen and (max-width: 767px) { .contacts__wrap form label { margin: 0 auto; width: 90%; } }
.contacts__wrap form label i { display: none; position: absolute; top: 47px; right: 10px; color: #e30613; font-size: 20px; }
.contacts__wrap form label.has-error i.fa { display: block; }
.contacts__wrap form p { text-transform: uppercase; color: #737373; font-size: 11px; padding: 15px 0 10px 0; }
.contacts__wrap form input, .contacts__wrap form select { width: 180px; height: 34px; padding: 0 10px; border: 1px solid #dadada; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
@media only screen and (max-width: 939px) { .contacts__wrap form input, .contacts__wrap form select { width: 100%; } }
.contacts__wrap form input:focus, .contacts__wrap form select:focus { border-color: #59db31 !important; box-shadow: 0 0 10px 0 #59db31; }
.contacts__wrap form textarea { margin-top: 15px; width: 180px; height: 84px; padding: 10px; border: 1px solid #dadada; resize: none; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
@media only screen and (max-width: 939px) { .contacts__wrap form textarea { width: 94%; margin: 15px 20px 0; } }
@media only screen and (max-width: 767px) { .contacts__wrap form textarea { margin: 15px 30px 0; width: 90%; } }
@media only screen and (max-width: 500px) { .contacts__wrap form textarea { margin: 15px 15px 0; } }
.contacts__wrap form button { margin-top: 15px; text-align: center; color: white; width: 180px; height: 34px; background: #469e2c; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
@media only screen and (max-width: 939px) { .contacts__wrap form button { width: 94%; margin-right: 15px; float: right; } }
@media only screen and (max-width: 767px) { .contacts__wrap form button { margin-left: 30px; float: none; width: 90%; } }
@media only screen and (max-width: 500px) { .contacts__wrap form button { margin-right: 0; margin-left: 15px; } }
.contacts__wrap form button:disabled { background: #a2ce95; cursor: default; }
.contacts__wrap form button:hover { background: #4ec529; }
.contacts__wrap form button:active { background: #4ec529; border-top: 3px solid #238d10; }
.contacts__in h5 { padding-top: 30px; font-weight: lighter; font-size: 24px; color: black; }
.contacts__in p { padding-top: 20px; font-size: 14px; color: #333333; }

input.error { border-color: #ee9172 !important; box-shadow: 0 0 10px 0 #ee9172; }

span.help-block { display: none; width: auto; position: absolute; margin: 2px -40px 0 55px; background: #333333; padding: 15px 20px; color: white; z-index: 2; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
span.help-block:before { content: ""; position: absolute; top: -8px; left: 97px; width: 0px; height: 0px; border-style: solid; border-width: 0 8px 8px 8px; border-color: transparent transparent #333333 transparent; }
span.help-block.active { display: block; }

.contact { font-size: 0; float: left; width: 68.57143%; }
@media only screen and (max-width: 939px) { .contact { width: 100%; } }
.contact__item { width: 210px; padding: 0 30px 30px 0; display: inline-block; vertical-align: top; }
.contact__item h5 { font-weight: bold; font-size: 16px; }
.contact__item p { font-size: 14px; color: #333333; }
.contact__item a { font-size: 14px; color: #3675aa; }
.contact__item a:hover { color: #469e2c; }

.contact-map { width: 230px; height: 290px; margin-left: -30px; }
@media only screen and (max-width: 939px) { .contact-map { width: 180px; } }

.contact-map-mob { display: none; width: 280px; height: 195px; margin-bottom: 40px; }
@media only screen and (max-width: 767px) { .contact-map-mob { display: block; width: 100%; } }

.history__item p { display: block; overflow: hidden; padding-top: 12px; font-size: 16px; color: #333333; line-height: 1.5; }
@media only screen and (max-width: 767px) { .history__item p { padding-top: 0; } }
.history__item:last-child .history__year:after { display: none; }
.history__year { position: relative; float: left; width: 60px; height: 60px; background: #ffed00; -webkit-border-radius: 50%; border-radius: 50%; text-align: center; margin: 0 20px 53px 0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.history__year > p { font-family: "Open Sans Condensed", sans-serif; font-weight: lighter; font-size: 24px; color: #378125; }
@media only screen and (max-width: 767px) { .history__year > p { padding-top: 13px; } }
.history__year:after { content: ""; position: absolute; bottom: -60px; left: 30px; width: 1px; height: 100%; background: #ffed00; }

@media only screen and (max-width: 939px) { .intro__map img { width: 100%; } }
.intro__text { width: 75.71429%; margin: 30px 0; }
@media only screen and (max-width: 767px) { .intro__text { width: 100%; } }
.intro__text p { font-size: 16px; color: #333333; line-height: 1.5; }
.intro__wrap { font-size: 0; margin: 10px 0 30px 10px; padding-top: 10px; }
@media only screen and (max-width: 767px) { .intro__wrap { text-align: center; } }
.intro__item { width: 220px; height: 220px; margin: -10px 0 0 -10px; padding: 30px; display: inline-block; vertical-align: top; webkit-border-radius: 50%; border-radius: 50%; text-align: center; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.intro__item p { font-size: 14px; font-weight: semibold; color: #333333; opacity: 1; }
.intro__item p:nth-child(2) { font-family: "Open Sans Condensed", sans-serif; font-weight: lighter; font-size: 24px; }
.intro__item p:nth-child(2) span { font-size: 36px; }
.intro__item.item1 { border: 10px solid rgba(229, 121, 0, 0.3); }
.intro__item.item1 p:nth-child(2) { color: #e57900; }
.intro__item.item2 { border: 10px solid rgba(47, 112, 170, 0.3); }
.intro__item.item2 p:nth-child(2) { color: #2f70aa; }
.intro__item.item3 { border: 10px solid rgba(175, 96, 162, 0.3); }
.intro__item.item3 p:nth-child(2) { color: #af60a2; }
.intro__item.item4 { border: 10px solid rgba(0, 159, 227, 0.3); }
.intro__item.item4 p:nth-child(2) { color: #009fe3; }
.intro__item.item5 { border: 10px solid rgba(175, 134, 85, 0.3); }
.intro__item.item5 p:nth-child(2) { color: #af8655; }
.intro__item.item6 { border: 10px solid rgba(70, 158, 44, 0.3); }
.intro__item.item6 p:nth-child(2) { color: #469e2c; }

.location-map { width: 100%; height: 500px; }
@media only screen and (max-width: 767px) { .location-map { height: 300px; } }

.infobox-wrapper { display: none; }

.marker-info { position: relative; padding: 17px; width: 220px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; background: url(../img/bg-point.png); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }
.marker-info:after { content: ""; position: absolute; top: 100%; left: 50%; margin-left: -5px; width: 0px; height: 0px; border-style: solid; border-width: 8px 8px 0 8px; border-color: #333333 transparent transparent transparent; }
.marker-info__head { font-size: 16px; font-weight: bold; color: #59c839; }
.marker-info__address { font-size: 14px; color: white; }

/* white background and box outline */
.gm-style > div:first-child > div + div > div:last-child > div > div:first-child > div { /* we have to use !important because we are overwritng inline styles */ background-color: transparent !important; box-shadow: none !important; width: auto !important; height: auto !important; border-top-width: 10px !important; }

.gm-style > div:first-child > div + div > div:last-child > div > div:first-child { display: none !important; }

/* arrow colour */
.gm-style > div:first-child > div + div > div:last-child > div > div:first-child > div > div > div { background-color: #333333 !important; }

/* close button */
.gm-style > div:first-child > div + div > div:last-child > div > div:last-child { margin-right: 5px; margin-top: 5px; }

/* image icon inside close button */
.gm-style > div:first-child > div + div > div:last-child > div > div:last-child > img { display: none; }

/* positioning of infowindow */
.gm-style-iw { top: 33px !important; left: 22px !important; }
.gm-style-iw > div { overflow: visible !important; }
.gm-style-iw > div > div { overflow: visible !important; }

.reports { padding-bottom: 300px; }
@media only screen and (max-width: 767px) { .reports { padding-bottom: 0; } }
.reports__item { position: relative; margin-bottom: 20px; padding-left: 35px; }
.reports__item i { position: absolute; top: 5px; left: 0; color: #469e2c; }
.reports__item a { font-size: 16px; color: #3675aa; }
.reports__item a:hover { color: #469e2c; }
.reports__item p { padding-top: 10px; font-size: 13px; color: #9a9a9a; }

.business__wrap p { width: 78.57143%; padding-bottom: 12px; font-size: 16px; color: #333333; line-height: 1.5; }
@media only screen and (max-width: 939px) { .business__wrap p { width: 100%; } }
.business__wrap table { margin: 40px 0; font-size: 14px; color: #333333; text-align: left; }
@media only screen and (max-width: 400px) { .business__wrap table { font-size: 12px; margin-left: -10px; } }
.business__wrap table tr { border-bottom: 1px solid #dadada; }
.business__wrap table tr:first-child { border-bottom: 2px solid #469e2c; }
.business__wrap table tr:last-child { border-bottom: 2px solid #469e2c; }
.business__wrap table tr:last-child td { color: #469e2c; font-weight: bold; }
.business__wrap table th, .business__wrap table td { padding: 10px 0; }
@media only screen and (max-width: 767px) { .business__wrap table th, .business__wrap table td { padding: 5px 0; } }
.business__wrap table th:nth-child(2), .business__wrap table td:nth-child(2) { padding-right: 50px; }
@media only screen and (max-width: 767px) { .business__wrap table th:nth-child(2), .business__wrap table td:nth-child(2) { padding-right: 30px; } }
@media only screen and (max-width: 450px) { .business__wrap table th:nth-child(2), .business__wrap table td:nth-child(2) { padding-right: 15px; } }
.business__wrap table th:nth-child(2n), .business__wrap table td:nth-child(2n) { text-align: right; }
.business__wrap table th { padding: 15px 0; text-transform: uppercase; }
.business__imgs { font-size: 0; margin-left: -20px; }
@media only screen and (max-width: 939px) { .business__imgs { margin-left: -10px; } }
@media only screen and (max-width: 767px) { .business__imgs { margin-left: 0; } }
.business__imgs img { margin-left: 20px; }
@media only screen and (max-width: 939px) { .business__imgs img { width: 31.3%; margin-left: 10px; } }
@media only screen and (max-width: 767px) { .business__imgs img { width: 100%; margin-left: 0; margin-bottom: 20px; } }

.fancybox-wrap { width: auto !important; }

.fancybox-skin { padding: 0 !important; box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5); }

.clients { margin-left: -20px; padding-bottom: 270px; font-size: 0; }
@media only screen and (max-width: 939px) { .clients { margin-left: -15px; } }
@media only screen and (max-width: 767px) { .clients { margin-left: 0; padding-bottom: 0; } }
.clients__item { width: 30.42857%; padding: 25px; margin-left: 20px; border: 3px solid #e6e6e6; text-align: center; display: inline-block; vertical-align: top; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
@media only screen and (max-width: 939px) { .clients__item { margin-left: 15px; } }
@media only screen and (max-width: 767px) { .clients__item { width: 100%; margin-left: 0; margin-bottom: 20px; } }
.clients__item p { font-size: 14px; color: #333333; padding-top: 10px; line-height: 1.6; }

.years { position: relative; display: inline-block; }
.years a { color: #3675aa; position: relative; }
.years a i { color: #9a9a9a; vertical-align: top; margin: 15px 0 0 15px; font-size: 16px; }
.years a:hover { color: #469e2c; text-decoration: underline; }
.years.active .years__top { color: #469e2c; text-decoration: none; }
.years.active .fa { vertical-align: bottom; margin: 15px 0 15px 15px; -moz-transition: -moz-transform 200ms; -o-transition: -o-transform 200ms; -webkit-transition: -webkit-transform 200ms; transition: transform 200ms; -ms-transform: rotate(180deg); -webkit-transform: rotate(180deg); transform: rotate(180deg); }
.years.active .years__submenu { display: block; }
.years__submenu { display: none; position: absolute; top: 40px; right: 0; background: white; border-top: 1px solid #59db31; border-bottom: 1px solid #59db31; width: 100%; padding: 15px; z-index: 2; box-shadow: 0px 0px 10px -1px #333333; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.years__submenu li { display: block; font-size: 14px; padding-bottom: 15px; height: auto; }
.years__submenu li:last-child { padding-bottom: 0; }
.years__submenu li a { color: #333333; padding: 0; font-weight: normal; }
.years__submenu li a:hover { color: #469e2c; text-decoration: underline; }

.presscentre__item { padding-bottom: 35px; }
.presscentre__item a { font-size: 16px; color: #3675aa; }
.presscentre__item a:hover { color: #469e2c; }
.presscentre__item p { font-size: 13px; color: #333333; padding: 12px 0; }
.presscentre__item span { font-size: 13px; color: #9a9a9a; }

#style-switcher { *zoom: 1; list-style-type: none; width: 600px; margin: 20px auto 10px; }
#style-switcher:before { display: table; content: ""; line-height: 0; }
#style-switcher:after { display: table; content: ""; line-height: 0; clear: both; }
#style-switcher li { padding: 0; width: 150px; float: left; text-align: center; }
#style-switcher li a { display: block; padding: 5px 10px; text-transform: uppercase; text-decoration: none; font-size: 20px; font-weight: 400; color: black; }
#style-switcher li a:hover { font-size: 24px; }
#style-switcher li a.active { font-size: 24px; font-weight: 700; background: #eeeeee; }

#demo_controls { *zoom: 1; position: relative; width: 700px; margin: 0 auto; padding: 20px 0; list-style-type: none; }
#demo_controls:before { display: table; content: ""; line-height: 0; }
#demo_controls:after { display: table; content: ""; line-height: 0; clear: both; }
#demo_controls li { width: 320px; float: left; text-align: center; margin: 0 15px; font-weight: bold; font-size: 15px; }
#demo_controls li p { margin-bottom: 10px; }

p.info { text-align: center; margin-top: 20px; }

.counter-wrapper { float: right; position: relative; left: -50%; margin-top: 20px; }

.flip-counter { position: relative; left: 50%; list-style-type: none; }
.flip-counter li { float: right; }

.no-csstransforms3d span.back { display: none; }

.flip-counter.default .digit { position: relative; z-index: 0; width: 60px; height: 90px; margin-left: 10px; background-color: black; text-align: center; line-height: 0; -webkit-text-stroke: 2px; -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5); -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5); box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5); -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.flip-counter.default .digit:last-child { margin-left: 0; }
.flip-counter.default .digit span { position: absolute; left: 0; height: 45px; width: 60px; overflow: hidden; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; font-size: 90px; font-family: "Ubuntu", sans-serif; font-weight: 700; text-indent: 2px; background-color: black; color: white; -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
.flip-counter.default .digit span.front { top: 0; padding-top: 45px; }
.flip-counter.default .digit span.back { bottom: 0; }
.flip-counter.default .digit .line { position: absolute; z-index: 10; height: 45px; width: 60px; border-bottom: 1px solid rgba(0, 0, 0, 0.7); -webkit-box-shadow: 0px 5px 7px -4px rgba(0, 0, 0, 0.7); -moz-box-shadow: 0px 5px 7px -4px rgba(0, 0, 0, 0.7); box-shadow: 0px 5px 7px -4px rgba(0, 0, 0, 0.7); }
.flip-counter.default .digit .hinge-wrap { z-index: 5; position: relative; overflow: visible; -webkit-perspective: 300px; -moz-perspective: 300px; -ms-perspective: 300px; perspective: 300px; }
.flip-counter.default .digit .hinge { position: absolute; height: 45px; width: 60px; -webkit-transform-style: preserve-3d; -moz-transform-style: preserve-3d; -ms-transform-style: preserve-3d; transform-style: preserve-3d; -webkit-transition: -webkit-transform 0.3s ease-in; -moz-transition: -moz-transform 0.3s ease-in; transition: transform 0.3s ease-in; -webkit-transform-origin: 50% 100%; -moz-transform-origin: 50% 100%; -ms-transform-origin: 50% 100%; -o-transform-origin: 50% 100%; transform-origin: 50% 100%; }
.flip-counter.default .digit .hinge span { height: 0; z-index: 5; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; backface-visibility: hidden; }
.flip-counter.default .digit .hinge span.front { padding-top: 45px; }
.flip-counter.default .digit .hinge span.back { height: 45px; -webkit-transform: rotateX(180deg); -moz-transform: rotateX(180deg); -ms-transform: rotateX(180deg); -o-transform: rotateX(180deg); transform: rotateX(180deg); }
.flip-counter.default .digit.animate .hinge { -webkit-transform: rotateX(-180deg); -moz-transform: rotateX(-180deg); -ms-transform: rotateX(-180deg); -o-transform: rotateX(-180deg); transform: rotateX(-180deg); }
.flip-counter.default .digit-delimiter { padding-top: 38px; margin-right: -5px; font-family: "Ubuntu", sans-serif; font-weight: 700; font-size: 52px; color: black; text-indent: 3.33333px; text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5); }
.flip-counter.light .digit { position: relative; z-index: 0; width: 60px; height: 90px; margin-left: 10px; background-color: #e8f1ff; text-align: center; line-height: 0; -webkit-text-stroke: 2px; -webkit-box-shadow: 1px 1px 5px 0px rgba(232, 241, 255, 0.5); -moz-box-shadow: 1px 1px 5px 0px rgba(232, 241, 255, 0.5); box-shadow: 1px 1px 5px 0px rgba(232, 241, 255, 0.5); -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.flip-counter.light .digit:last-child { margin-left: 0; }
.flip-counter.light .digit span { position: absolute; left: 0; height: 45px; width: 60px; overflow: hidden; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; font-size: 90px; font-family: "Ubuntu", sans-serif; font-weight: 700; text-indent: 2px; background-color: #e8f1ff; color: white; -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
.flip-counter.light .digit span.front { top: 0; padding-top: 45px; }
.flip-counter.light .digit span.back { bottom: 0; }
.flip-counter.light .digit .line { position: absolute; z-index: 10; height: 45px; width: 60px; border-bottom: 1px solid rgba(232, 241, 255, 0.7); -webkit-box-shadow: 0px 5px 7px -4px rgba(232, 241, 255, 0.7); -moz-box-shadow: 0px 5px 7px -4px rgba(232, 241, 255, 0.7); box-shadow: 0px 5px 7px -4px rgba(232, 241, 255, 0.7); }
.flip-counter.light .digit .hinge-wrap { z-index: 5; position: relative; overflow: visible; -webkit-perspective: 300px; -moz-perspective: 300px; -ms-perspective: 300px; perspective: 300px; }
.flip-counter.light .digit .hinge { position: absolute; height: 45px; width: 60px; -webkit-transform-style: preserve-3d; -moz-transform-style: preserve-3d; -ms-transform-style: preserve-3d; transform-style: preserve-3d; -webkit-transition: -webkit-transform 0.3s ease-in; -moz-transition: -moz-transform 0.3s ease-in; transition: transform 0.3s ease-in; -webkit-transform-origin: 50% 100%; -moz-transform-origin: 50% 100%; -ms-transform-origin: 50% 100%; -o-transform-origin: 50% 100%; transform-origin: 50% 100%; }
.flip-counter.light .digit .hinge span { height: 0; z-index: 5; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; backface-visibility: hidden; }
.flip-counter.light .digit .hinge span.front { padding-top: 45px; }
.flip-counter.light .digit .hinge span.back { height: 45px; -webkit-transform: rotateX(180deg); -moz-transform: rotateX(180deg); -ms-transform: rotateX(180deg); -o-transform: rotateX(180deg); transform: rotateX(180deg); }
.flip-counter.light .digit.animate .hinge { -webkit-transform: rotateX(-180deg); -moz-transform: rotateX(-180deg); -ms-transform: rotateX(-180deg); -o-transform: rotateX(-180deg); transform: rotateX(-180deg); }
.flip-counter.light .digit-delimiter { padding-top: 38px; margin-right: -5px; font-family: "Ubuntu", sans-serif; font-weight: 700; font-size: 52px; color: #e8f1ff; text-indent: 3.33333px; text-shadow: 1px 1px 5px rgba(232, 241, 255, 0.5); }
.flip-counter.small .digit { position: relative; z-index: 0; width: 30px; height: 40px; margin-left: 5px; background-color: black; text-align: center; line-height: 0; -webkit-text-stroke: 2px; -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5); -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5); box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5); -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.flip-counter.small .digit:last-child { margin-left: 0; }
.flip-counter.small .digit span { position: absolute; left: 0; height: 20px; width: 30px; overflow: hidden; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; font-size: 34px; font-family: "Ubuntu", sans-serif; font-weight: 700; text-indent: 2px; background-color: black; color: white; -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
.flip-counter.small .digit span.front { top: 0; padding-top: 20px; }
.flip-counter.small .digit span.back { bottom: 0; }
.flip-counter.small .digit .line { position: absolute; z-index: 10; height: 20px; width: 30px; border-bottom: 1px solid rgba(0, 0, 0, 0.7); -webkit-box-shadow: 0px 5px 7px -4px rgba(0, 0, 0, 0.7); -moz-box-shadow: 0px 5px 7px -4px rgba(0, 0, 0, 0.7); box-shadow: 0px 5px 7px -4px rgba(0, 0, 0, 0.7); }
.flip-counter.small .digit .hinge-wrap { z-index: 5; position: relative; overflow: visible; -webkit-perspective: 300px; -moz-perspective: 300px; -ms-perspective: 300px; perspective: 300px; }
.flip-counter.small .digit .hinge { position: absolute; height: 20px; width: 30px; -webkit-transform-style: preserve-3d; -moz-transform-style: preserve-3d; -ms-transform-style: preserve-3d; transform-style: preserve-3d; -webkit-transition: -webkit-transform 0.3s ease-in; -moz-transition: -moz-transform 0.3s ease-in; transition: transform 0.3s ease-in; -webkit-transform-origin: 50% 100%; -moz-transform-origin: 50% 100%; -ms-transform-origin: 50% 100%; -o-transform-origin: 50% 100%; transform-origin: 50% 100%; }
.flip-counter.small .digit .hinge span { height: 0; z-index: 5; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; backface-visibility: hidden; }
.flip-counter.small .digit .hinge span.front { padding-top: 20px; }
.flip-counter.small .digit .hinge span.back { height: 20px; -webkit-transform: rotateX(180deg); -moz-transform: rotateX(180deg); -ms-transform: rotateX(180deg); -o-transform: rotateX(180deg); transform: rotateX(180deg); }
.flip-counter.small .digit.animate .hinge { -webkit-transform: rotateX(-180deg); -moz-transform: rotateX(-180deg); -ms-transform: rotateX(-180deg); -o-transform: rotateX(-180deg); transform: rotateX(-180deg); }
.flip-counter.small .digit-delimiter { padding-top: 15px; margin-right: -2.5px; font-family: "Ubuntu", sans-serif; font-weight: 700; font-size: 25px; color: black; text-indent: 1.66667px; text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5); }
.flip-counter.huge .digit { position: relative; z-index: 0; width: 140px; height: 200px; margin-left: 20px; background-color: black; text-align: center; line-height: 0; -webkit-text-stroke: 2px; -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5); -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5); box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5); -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.flip-counter.huge .digit:last-child { margin-left: 0; }
.flip-counter.huge .digit span { position: absolute; left: 0; height: 100px; width: 140px; overflow: hidden; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; font-size: 190px; font-family: "Ubuntu", sans-serif; font-weight: 700; text-indent: 2px; background-color: black; color: white; -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
.flip-counter.huge .digit span.front { top: 0; padding-top: 100px; }
.flip-counter.huge .digit span.back { bottom: 0; }
.flip-counter.huge .digit .line { position: absolute; z-index: 10; height: 100px; width: 140px; border-bottom: 2px solid rgba(0, 0, 0, 0.7); -webkit-box-shadow: 0px 6px 7px -4px rgba(0, 0, 0, 0.7); -moz-box-shadow: 0px 6px 7px -4px rgba(0, 0, 0, 0.7); box-shadow: 0px 6px 7px -4px rgba(0, 0, 0, 0.7); }
.flip-counter.huge .digit .hinge-wrap { z-index: 5; position: relative; overflow: visible; -webkit-perspective: 800px; -moz-perspective: 800px; -ms-perspective: 800px; perspective: 800px; }
.flip-counter.huge .digit .hinge { position: absolute; height: 100px; width: 140px; -webkit-transform-style: preserve-3d; -moz-transform-style: preserve-3d; -ms-transform-style: preserve-3d; transform-style: preserve-3d; -webkit-transition: -webkit-transform 0.3s ease-in; -moz-transition: -moz-transform 0.3s ease-in; transition: transform 0.3s ease-in; -webkit-transform-origin: 50% 100%; -moz-transform-origin: 50% 100%; -ms-transform-origin: 50% 100%; -o-transform-origin: 50% 100%; transform-origin: 50% 100%; }
.flip-counter.huge .digit .hinge span { height: 0; z-index: 5; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; backface-visibility: hidden; }
.flip-counter.huge .digit .hinge span.front { padding-top: 100px; }
.flip-counter.huge .digit .hinge span.back { height: 100px; -webkit-transform: rotateX(180deg); -moz-transform: rotateX(180deg); -ms-transform: rotateX(180deg); -o-transform: rotateX(180deg); transform: rotateX(180deg); }
.flip-counter.huge .digit.animate .hinge { -webkit-transform: rotateX(-180deg); -moz-transform: rotateX(-180deg); -ms-transform: rotateX(-180deg); -o-transform: rotateX(-180deg); transform: rotateX(-180deg); }
.flip-counter.huge .digit-delimiter { padding-top: 130px; margin-right: -10px; font-family: "Ubuntu", sans-serif; font-weight: 700; font-size: 70px; color: black; text-indent: 6.66667px; text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5); }

/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap, .fancybox-skin, .fancybox-outer, .fancybox-inner, .fancybox-image { padding: 0; margin: 0; border: 0; outline: none; vertical-align: top; }

.fancybox-wrap iframe, .fancybox-wrap object { padding: 0; margin: 0; border: 0; outline: none; vertical-align: top; }

.fancybox-nav { padding: 0; margin: 0; border: 0; outline: none; vertical-align: top; }
.fancybox-nav span { padding: 0; margin: 0; border: 0; outline: none; vertical-align: top; }

.fancybox-tmp { padding: 0; margin: 0; border: 0; outline: none; vertical-align: top; }

.fancybox-wrap { position: absolute; top: 0; left: 0; z-index: 8020; }

.fancybox-skin { position: relative; background: #f9f9f9; color: #444444; text-shadow: none; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }

.fancybox-opened { z-index: 8030; }
.fancybox-opened .fancybox-skin { -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5); box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5); }

.fancybox-outer { position: relative; }

.fancybox-inner { position: relative; overflow: hidden; }

.fancybox-type-iframe .fancybox-inner { -webkit-overflow-scrolling: touch; }

.fancybox-error { color: #444444; font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif; margin: 0; padding: 15px; white-space: nowrap; }

.fancybox-image, .fancybox-iframe { display: block; width: 100%; height: 100%; }

.fancybox-image { max-width: 100%; max-height: 100%; }

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span { background-image: url("fancybox_sprite.png"); }

#fancybox-loading { position: fixed; top: 50%; left: 50%; margin-top: -22px; margin-left: -22px; background-position: 0 -108px; opacity: 0.8; cursor: pointer; z-index: 8060; }
#fancybox-loading div { width: 44px; height: 44px; background: url("fancybox_loading.gif") center center no-repeat; }

.fancybox-close { position: absolute; top: -18px; right: -18px; width: 36px; height: 36px; cursor: pointer; z-index: 8040; }

.fancybox-nav { position: absolute; top: 0; width: 40%; height: 100%; cursor: pointer; text-decoration: none; background: transparent url("blank.gif"); /* helps IE */ -webkit-tap-highlight-color: transparent; z-index: 8040; }

.fancybox-prev { left: 0; }

.fancybox-next { right: 0; }

.fancybox-nav span { position: absolute; top: 50%; width: 36px; height: 34px; margin-top: -18px; cursor: pointer; z-index: 8040; visibility: hidden; }

.fancybox-prev span { left: 10px; background-position: 0 -36px; }

.fancybox-next span { right: 10px; background-position: 0 -72px; }

.fancybox-nav:hover span { visibility: visible; }

.fancybox-tmp { position: absolute; top: -99999px; left: -99999px; visibility: hidden; max-width: 99999px; max-height: 99999px; overflow: visible !important; }

/* Overlay helper */
.fancybox-lock { overflow: hidden !important; width: auto; }
.fancybox-lock body { overflow: hidden !important; }

.fancybox-lock-test { overflow-y: hidden !important; }

.fancybox-overlay { position: absolute; top: 0; left: 0; overflow: hidden; display: none; z-index: 8010; background: url("fancybox_overlay.png"); }

.fancybox-overlay-fixed { position: fixed; bottom: 0; right: 0; }

.fancybox-lock .fancybox-overlay { overflow: auto; overflow-y: scroll; }

/* Title helper */
.fancybox-title { visibility: hidden; font: normal 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif; position: relative; text-shadow: none; z-index: 8050; }

.fancybox-opened .fancybox-title { visibility: visible; }

.fancybox-title-float-wrap { position: absolute; bottom: 0; right: 50%; margin-bottom: -35px; z-index: 8050; text-align: center; }
.fancybox-title-float-wrap .child { display: inline-block; margin-right: -100%; padding: 2px 20px; background: transparent; /* Fallback for web browsers that doesn't support RGBa */ background: rgba(0, 0, 0, 0.8); -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; text-shadow: 0 1px 2px #222222; color: white; font-weight: bold; line-height: 24px; white-space: nowrap; }

.fancybox-title-outside-wrap { position: relative; margin-top: 10px; color: white; }

.fancybox-title-inside-wrap { padding-top: 10px; }

.fancybox-title-over-wrap { position: absolute; bottom: 0; left: 0; color: white; padding: 10px; background: black; background: rgba(0, 0, 0, 0.8); }

/*Retina graphics! */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) { #fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span { background-image: url("fancybox_sprite@2x.png"); background-size: 44px 152px; /*The size of the normal image, half the size of the hi-res image */ }
  #fancybox-loading div { background-image: url("fancybox_loading@2x.gif"); background-size: 24px 24px; /*The size of the normal image, half the size of the hi-res image */ } }
