// Normally mainpage styles

.header
	background: url('../img/header_bg.jpg') no-repeat
	background-size: cover
	&__in
		padding: 25px 0
		+r(939)
			padding: 15px 0
		.logo
			float: left
			width: percentage(240/940) 
			a
				display: block
		.nav
			float: right
			padding: 27px 0
			width: percentage(700/940) 
			&__menu
				float: left
				margin: 0 40px 0 -10px
				li
					display: inline-block
					padding: 0 10px 
					height: 40px
					a
						i
							color: $yellow
							vertical-align: top
							margin-left: 5px
						&:hover
							color: $yellow
							text-decoration: none
						&.active
							color: $yellow
							border-bottom: 2px solid #59db31
			&__item
				position: relative
				&.active
					.nav__submenu
						display: block
					.fa
						vertical-align: bottom
						+tr(transform 200ms)
						+rotate(180)
			&__submenu
				display: none
				position: absolute
				top: 30px
				left: 0
				background: #FFF
				border-top: 1px solid #59db31
				border-bottom: 1px solid #59db31
				width: 220px
				padding: 15px
				z-index: 2
				box-shadow: 0px 0px 10px -1px #333
				+box
				li
					display: block
					padding: 0 0 15px 0
					height: auto
					&:last-child
						padding-bottom: 0
					a
						font-size: 14px
						color: #333
						padding: 0
						font-weight: normal
						&:hover
							color: #469e2c
							text-decoration: underline 
			a
				display: inline-block
				font-weight: bold
				padding: 10px 0
				color: #FFF 
				+box 
			+r(939)
				display: none
	&_main
		background: none
.lang
	float: right
	a.lang__item
		text-transform: uppercase
		font-weight: normal
		padding: 10px
		&.active
			background: $yellow
			-webkit-border-radius: 50% 
			border-radius: 50% 
			color: #378125 
			font-weight: bold
	&_tablet
		float: none
		a
			font-size: 14px 

.menu-btn
	display: none
	padding: 42px 0
	float: right
	span
		display: block
		position: relative
		width: 23px
		height: 5px
		background: #FFF
		&:before, &:after
			content: ""
			position: absolute
			left: 0
			width: 23px
			height: 5px
			background: #FFF
		&:before
			top: -9px
		&:after
			top: 9px
	+r(939)
		display: block

.tablet-menu
	display: none
	position: fixed
	top: 0
	right: 0
	bottom: 0
	left: 0
	text-align: center
	padding-top: 220px
	background: url("../img/bg_tablet.png") left bottom no-repeat, linear-gradient(#469e2c, #347b24)
	overflow-y: auto
	z-index: 99
	&.active
		display: block
	&__close
		position: absolute
		top: 60px
		right: 30px
		i
			color: #FFF 	
	&__list
		padding: 50px 0
		& > li
			padding: 15px 0
	a
		font-weight: lighter
		font-size: 30px
		color: #FFF 

.dropdown
	.tablet-menu__link
		&:after
			content: ""
			display: inline-block
			vertical-align: middle
			margin-left: 10px
			+arr(8, 8, #FFF, b)
			+tr(transform 200ms)
		&.is-open
			&:after
				+rotate(180)
			.dropdown__list
				display: block
	&__list
		display: none
		li
			padding: 5px 0
			a
				font-size: 24px

.mobile-menu
	display: none
	position: fixed
	top: 0
	right: 0
	bottom: 0
	left: 0
	text-align: left
	padding-top: 40px
	background: url("../img/bg_mobile.png") left bottom no-repeat, linear-gradient(#469e2c, #347b24)
	overflow-y: auto
	z-index: 99
	&.active
		display: block
	&__in
		padding: 20px
	&__close
		position: absolute
		top: 50px
		right: 20px
		i
			color: #FFF 
	&__wrap
		margin: 40px 0
		overflow: hidden
		position: relative
		&.is-open
			+transform(translateX(-110%))
			.mobile-menu__submenu
				left: 20px
	&__list
		padding: 10px 0
		width: 100%
	&__link
		width: 100%
		position: relative
		display: block
		font-weight: lighter
		font-size: 22px
		color: #FFF  
		i
			position: absolute
			right: 0
			bottom: 5px
			color: #FFF 
		&.active
			span
				color: $yellow
				border-bottom: 2px solid #59db31
	&__submenu
		position: absolute
		top: 10px
		left: 100%
		a
			font-weight: lighter
			font-size: 22px
			color: #FFF 
		ul
			li
				> a
					font-weight: lighter
					font-size: 16px
					color: #FFF 
					&.active
						color: $yellow
						border-bottom: 2px solid #59db31

.topper
	background: radial-gradient(at top, #469e2c, #337823)
	color: #FFF 
	&__wrap
		width: percentage(500/940)
		margin: 0 auto
		padding: 90px 0 165px
		text-align: center
		+r(767)
			width: 100%
			padding: 5px 0 45px
		h2
			font-weight: lighter
			font-size: 36px
		p
			padding: 25px 0
			font-size: 16px
	&__more
		a
			font-weight: bold
			font-size: 14px
			color: #FFF 
			+r(767)
				display: inline-block
				vertical-align: top
				width: 100px
			i
				color: $yellow
				vertical-align: middle
				padding-right: 10px
				+r(767)
					display: block
					margin-bottom: 10px
			&:first-child
				margin-right: 35px
.production
	text-align: center
	padding: 45px 0 85px
	h2
		display: inline-block
		font-weight: lighter
		font-size: 36px
		p
			display: inline-block
			vertical-align: super
			padding-left: 5px
			font-size: 12px
			color: #9A9A9A 
	&__wrap
		padding: 35px 0
		font-size: 0
	&__item
		width: 240px
		height: 240px
		margin: -10px 0 0 -10px
		padding: 20px 40px
		display: inline-block
		vertical-align: top
		webkit-border-radius: 50% 
		border-radius: 50%
		+box
		p
			font-size: 16px
			padding-top: 10px
			&:nth-child(2)
				font-weight: 600
		.counter ul li p
			color: #333			
		&.item1
			border: 10px solid rgba(229, 121, 0, 0.3)
			margin-left: 10px
			+r(939)
				margin-left: 0
			p, .counter__item p
				color: rgb(229, 121, 0)
			.counter__item
				border: 1px solid rgb(229, 121, 0)
		&.item2
			border: 10px solid rgba(0, 159, 227, 0.3)
			p, .counter__item p
				color: rgb(0, 159, 227)
			.counter__item
				border: 1px solid rgb(0, 159, 227)
		&.item3
			border: 10px solid rgba(175, 134, 85, 0.3)
			p, .counter__item p
				color: rgb(175, 134, 85)
			.counter__item
				border: 1px solid rgb(175, 134, 85)
		&.item4
			border: 10px solid rgba(47, 112, 170, 0.3)
			p, .counter__item p
				color: rgb(47, 112, 170)
			.counter__item
				border: 1px solid rgb(47, 112, 170)
	a
		font-size: 14px
		font-weight: bold
		color: #3675aa
		i
			color: #469e2c
			vertical-align: middle
			padding-right: 10px
		&:hover
			color: #469E2C 

.counter
	margin: 15px -20px 5px
	ul
		li
			width: 22px
			display: inline-block
			vertical-align: middle
			border: 1px solid #dadada
			webkit-border-radius: 2px
			border-radius: 2px
			margin-left: 1px
			p
				padding: 0
				font-family: 'Open Sans Condensed', sans-serif
				font-weight: lighter
				font-size: 27px

.news
	&__in
		border-top: 1px solid #dadada  
		padding: 35px 0
		font-size: 0
	&__title
		width: 25%
		display: inline-block
		vertical-align: top
		+r(767)
			width: 100%
			display: block
			text-align: center
		h3
			font-weight: lighter
			font-size: 24px
	&__wrap
		position: relative
		width: 25%
		display: inline-block
		vertical-align: top
		padding: 0 20px
		+box
		+r(767)
			width: 100%
			display: block
			text-align: center				
			margin-top: 25px
		a
			font-size: 13px
			color: #3675AA
			&:visited
				color: #6D36AA
			&:hover
				color: #469E2C  
		p
			padding-top: 25px
			font-size: 12px
			color: #9A9A9A
			+r(767)
				padding-top: 10px
		&:before
			content: ""
			position: absolute
			top: 10px
			left: 0
			height: 1px
			width: 13px
			background: #4eaf30
			+r(767)
				display: none
.footer
	&__in
		padding: 20px 0
		border-top: 2px solid #469e2c
		+r(939)
			text-align: center
	&__menu
		float: left
		+r(939)
			float: none
		ul
			margin: 0 -10px
			li
				display: inline-block
				padding: 10px
				+r(939)
					padding: 5px 5px 20px
				+r(767)
					width: 100%
					display: block
					text-align: center
				a
					display: inline-block
					font-size: 14px
					color: #000
					&:visited
						color: #000 
					&:hover
						color: #469E2C 
					&.active
						color: #469E2C
	.copyright
		float: right
		+r(939)
			float: none
		p
			font-size: 13px
			color: #9A9A9A 


// about.html
.main
	&__top
		margin-top: 30px
		padding-left: percentage(240/940) 
		+r(767)
			width: 100%
			padding: 0
		.breadcrumbs
			a
				font-size: 12px
				color: #9a9a9a
				text-decoration: underline
				&.active
					text-decoration: none
					font-weight: bold
					&:hover
						text-decoration: underline
	&__title
		font-weight: lighter
		font-size: 36px
		color: #377f25
		margin-top: 20px
	&__in
		padding: 30px 0
	&__wrap
		width: percentage(700/940)
		float: left
		+box
		+r(767)
			width: 100%
		&.wrap-right
			width: percentage(530/940)
			padding-right: 30px
			+r(939)
				width: percentage(365/939)
				padding-right: 10px
			+r(767)
				width: 100%
.sidebar
	width: percentage(240/940)
	float: left
	+r(939)
		padding-bottom: 70px
	ul
		+r(939)
			width: percentage(170/240)
		li
			padding-bottom: 20px
			a
				color: #3675aa
				font-size: 14px
				padding-bottom: 5px
				&:hover
					color: #469e2c
				&.active
					color: #333333
					border-bottom: 2px solid #469e2c
					text-decoration: none
					+r(939)
						padding-bottom: 0
	&_left
		+r(767)
			display: none
	&_right
		width: 140px
		text-align: center
		float: right
		+r(767)
			width: 100%
			padding-bottom: 0
	&__wrap
		border: 1px solid #dadada
		padding: 20px
		width: 140px
		+box
		+r(939)
			width: 100%
		a
			font-size: 16px
			color: #3675aa
			i
				color: #469e2c
				padding-bottom: 13px
			span
				font-size: 12px
				color: #9a9a9a
			&:hover
				color: #469e2c
.about
	padding-bottom: 30px
	p
		font-size: 16px
		color: #333
		padding-bottom: 20px
	> ul
		li
			position: relative
			padding-left: 40px
			&:before
				content: ""
				position: absolute
				top: 10px
				left: 15px
				height: 1px
				width: 13px
				background: #4eaf30


// board_of_directors.html
.directors
	&__in
		padding-bottom: 50px
	&__pic
		float: left
		+r(767)
			float: none
			text-align: center
	&__wrap
		float: left
		margin-left: 25px
		width: percentage(520/700)
		font-size: 16px
		color: #333
		+r(767)
			width: 100%
			margin: 0
			text-align: justify
		h4
			font-weight: bold
			padding-bottom: 5px
		span
			color: #9A9A9A
		p
			font-size: 13px
			padding-top: 15px


// career.html
.career
	float: left
	width: percentage(480/700)
	margin-bottom: 20px
	+r(939)
		width: 100%
	p
		font-size: 16px
		color: #333
		padding-bottom: 25px
	ul
		li
			display: block
			a
				display: inline-block
				padding-bottom: 10px
				font-size: 16px
				font-weight: bold
				color: #3675aa
				i
					color: $yellow
					vertical-align: middle
					padding-right: 10px
				.career__more
					display: none
					padding-left: 35px
					font-size: 14px
					color: #333
					font-weight: normal
				&.active
					.career__more
						display: block
					&:hover
						text-decoration: none
				&:hover
					color: #469e2c
.contacts
	float: right
	width: 220px
	+r(939)
		width: 100%
	&__wrap
		border: 1px solid #dadada
		padding: 20px
		+box
		h5
			font-size: 24px
			font-weight: lighter
			color: #000
		form
			+r(939)
				margin: 0 -20px
			label
				+r(939)
					display: inline-block
					margin-left: 20px
				+r(767)
					display: block
			p
				text-transform: uppercase
				color: #737373
				font-size: 11px
				padding: 15px 0 10px 0
			input, select
				width: 180px
				height: 34px
				padding: 0 10px
				border: 1px solid #dadada
				+box 
				+r(939)
					width: 230px
				+r(767)
					width: 95%
			textarea
				margin-top: 15px
				width: 180px
				height: 84px
				padding: 10px
				border: 1px solid #dadada
				resize: none
				+box
				+r(939)
					width: 480px
				+r(767)
					width: 95%
			button
				margin-top: 15px
				text-align: center
				color: #FFF
				width: 180px
				height: 34px
				background: #469e2c
				+box
				+r(939)
					width: 230px
					margin-right: 15px
					float: right
				+r(767)
					width: 91%
					float: none
					margin-right: 0
					margin-left: 20px
				&:disabled
					background: #a2ce95
					cursor: default
				&:hover	
					background: #4EC529 
				&:active
					background: #4EC529
					border-top: 3px solid #238d10 
	&__in
		h5
			padding-top: 30px
			font-weight: lighter
			font-size: 24px
			color: #000
		p
			padding-top: 20px
			font-size: 14px
			color: #333


// contact_us.html
.contact
	font-size: 0
	float: left
	width: percentage(480/700)
	+r(939)
		width: 100%
	&__item
		width: 210px
		padding: 0 30px 30px 0
		display: inline-block
		vertical-align: top
		h5
			font-weight: bold
			font-size: 16px
		p
			font-size: 14px
			color: #333
		a
			font-size: 14px
			color: #3675aa
			&:hover
				color: #469e2c
#contact-map
	width: 230px
	height: 290px
	margin-left: -30px
	+r(939)
		width: 180px
#contact-map-mob
	display: none
	width: 280px
	height: 195px
	margin-bottom: 40px
	+r(767)
		display: block
		width: 100% 


// history.html
.history
	&__item
		p
			display: block
			overflow: hidden
			padding-top: 13px
			font-size: 13px
			color: #333
			+r(767)
				padding-top: 0
		&:last-child .history__year:after
			display: none
	&__year
		position: relative
		width: 60px
		height: 60px
		background: $yellow
		-webkit-border-radius: 50% 
		border-radius: 50% 
		text-align: center
		margin: 0 20px 53px 0
		float: left
		+box
		& > p
			font-family: 'Open Sans Condensed', sans-serif
			font-weight: lighter
			font-size: 24px
			color: #378125
			+r(767)
				padding-top: 13px
		&:after
			content: ""
			position: absolute
			bottom: -60px
			left: 30px
			width: 1px
			height: 100%
			background: $yellow

// intro_to_ukr.html
.intro
	&__map
		img
			+r(939)
				width: 100%
	&__text
		width: percentage(530/700)
		margin: 30px 0
		+r(767)
			width: 100%
		p
			font-size: 13px
			color: #333
	&__wrap
		font-size: 0
		margin: 10px 0 30px 10px
		padding-top: 10px
		+r(767)
			text-align: center
	&__item
		width: 220px
		height: 220px
		margin: -10px 0 0 -10px
		padding: 30px
		display: inline-block
		vertical-align: top
		webkit-border-radius: 50% 
		border-radius: 50%
		text-align: center
		+box
		p
			font-size: 14px
			font-weight: semibold
			color: #333
			opacity: 1
			&:nth-child(2)
				font-family: 'Open Sans Condensed', sans-serif
				font-weight: lighter
				font-size: 24px
				span
					font-size: 36px
		&.item1
			border: 10px solid rgba(229, 121, 0, 0.3)
			p:nth-child(2)
				color: rgb(229, 121, 0)
		&.item2
			border: 10px solid rgba(47, 112, 170, 0.3)
			p:nth-child(2)
				color: rgb(47, 112, 170)
		&.item3
			border: 10px solid rgba(175, 96, 162, 0.3)
			p:nth-child(2)
				color: rgb(175, 96, 162)
		&.item4
			border: 10px solid rgba(0, 159, 227, 0.3)
			p:nth-child(2)
				color: rgb(0, 159, 227)
		&.item5
			border: 10px solid rgba(175, 134, 85, 0.3)
			p:nth-child(2)
				color: rgb(175, 134, 85)
		&.item6
			border: 10px solid rgba(70, 158, 44, 0.3)
			p:nth-child(2)
				color: rgb(70, 158, 44)


// locations.html
#location-map
	width: 100%
	height: 500px


// monthly_reports.html
.reports
	padding-bottom: 300px
	+r(767)
		padding-bottom: 0
	&__item
		position: relative
		margin-bottom: 20px
		padding-left: 35px
		i
			position: absolute
			top: 5px
			left: 0
			color: #469e2c
		a
			font-size: 16px
			color: #3675aa
			&:hover
				color: #469e2c
		p
			padding-top: 10px
			font-size: 13px
			color: #9a9a9a


// our_business.html
.business
	&__wrap
		p
			width: percentage(550/700)
			padding-bottom: 15px
			font-size: 16px
			color: #333
			+r(939)
				width: 100%
		table
			margin: 40px 0
			font-size: 14px
			color: #333
			text-align: left
			tr
				border-bottom: 1px solid #dadada
				&:first-child
					border-bottom: 2px solid #469e2c
				&:last-child
					border-bottom: 2px solid #469e2c
					td
						color: #469e2c
						font-weight: bold
			th, td
				padding: 10px 0
				+r(767)
					padding: 5px 0
				&:nth-child(2)
					padding-right: 50px
					+r(767)
						padding-right: 5px
				&:nth-child(2n)
					text-align: right
			th
				padding: 15px 0
				text-transform: uppercase
	&__imgs
		font-size: 0
		margin-left: -20px
		+r(939)
			margin-left: -10px
		+r(767)
			margin-left: 0
		img
			margin-left: 20px
			+r(939)
				width: 31.3%
				margin-left: 10px
			+r(767)
				width: 100%
				margin-left: 0
				margin-bottom: 20px


// our_clients.html
.clients
	margin-left: -20px
	padding-bottom: 270px
	font-size: 0
	+r(939)
		margin-left: -15px
	+r(767)
		margin-left: 0
		padding-bottom: 0
	&__item
		width: percentage(213/700)
		padding: 25px
		margin-left: 20px
		border: 3px solid #e6e6e6
		text-align: center
		display: inline-block
		vertical-align: top
		+box
		+r(939)
			margin-left: 15px
		+r(767)
			width: 100%
			margin-left: 0
			margin-bottom: 20px
		p
			font-size: 14px
			color: #333
			padding-top: 20px


// press_centre.html
.main__title
	a
		color: #3675aa
		i
			color: #9A9A9A
			vertical-align: top
			padding: 15px 0 0 15px
			font-size: 16px
		&:hover
			color: #469e2c
.presscentre
	&__item
		padding-bottom: 35px
		a
			font-size: 16px
			color: #3675aa
			&:hover	
				color: #469E2C 
		p
			font-size: 13px
			color: #333
			padding: 20px 0
		span
			font-size: 13px
			color: #9a9a9a