// Normally mainpage styles

.header
	background: url('../img/header_bg.jpg') no-repeat
	background-size: cover
	&__in
		padding: 25px 0
		.logo
			float: left
			a
				display: block
		.nav
			float: right
			padding: 27px 0
			&__menu
				float: left
				margin-right: 40px
				li
					display: inline-block
					padding: 0 10px 
					height: 40px
					a
						&:hover
							color: $yellow
						&:active
							color: $yellow
							border-bottom: 2px solid #59db31
			&__submenu
				display: none
			.lang
				float: right
				a
					text-transform: uppercase
					font-weight: normal
					padding: 10px
					&.active
						background: $yellow
						-webkit-border-radius: 50% 
						border-radius: 50% 
						color: #378125 
						font-weight: bold 
			a
				display: inline-block
				font-weight: bold
				padding: 10px 0
				color: #FFF 
				+box 
	&_main
		background: none
.topper
	background: radial-gradient(at top center, #469e2c, #337823)
	color: #FFF 
	&__wrap
		width: 500px
		margin: 0 auto
		padding: 90px 0 165px
		text-align: center
		h2
			font-weight: lighter
			font-size: 36px
		p
			padding: 25px 0
			font-size: 16px
	&__more
		a
			padding: 0 15px
			font-weight: bold
			font-size: 14px
			color: #FFF 
.production
	text-align: center
	padding: 45px 0 85px
	h2
		display: inline-block
		font-weight: lighter
		font-size: 36px
		p
			display: inline-block
			vertical-align: super
			padding-left: 5px
			font-size: 12px
			color: #9A9A9A 
	&__wrap
		padding: 25px 0
		font-size: 0
	&__item
		width: 240px
		height: 240px
		margin-left: -10px
		padding: 30px
		display: inline-block
		vertical-align: top
		+box
		p
			font-size: 16px
			&:first-child
				font-weight: semibold
		&.item1
			border: 10px solid #df8b2d
			webkit-border-radius: 50% 
			border-radius: 50%
			opacity: 0.3
			margin-left: 10px
			p
				color: #e57900
		&.item2
			border: 10px solid #009fe3
			webkit-border-radius: 50% 
			border-radius: 50%
			opacity: 0.3
			p
				color: #0193d2
		&.item3
			border: 10px solid #af8655
			webkit-border-radius: 50% 
			border-radius: 50%
			opacity: 0.3
			p
				color: #af8655
		&.item4
			border: 10px solid #2f70aa
			webkit-border-radius: 50% 
			border-radius: 50%
			opacity: 0.3
			p
				color: #2f70aa
.presscentre
	&__in
		border-top: 1px solid #dadada  
		padding: 35px 0
		font-size: 0
	&__wrap
		width: 25%
		display: inline-block
		vertical-align: top
		h3
			font-weight: lighter
			font-size: 24px
		a
			font-size: 13px
			color: #3675AA
			&:visited
				color: #6D36AA
			&:hover
				text-decoration: underline	
				color: #469E2C  
		p
			padding-top: 25px
			font-size: 12px
			color: #9A9A9A
.footer
	&__in
		padding: 20px 0
		border-top: 2px solid #469e2c
	&__menu
		float: left
		ul
			margin: 0 -10px
			li
				display: inline-block
				padding: 10px
				a
					display: inline-block
					color: #000
					&:visited
						color: #000 
					&:hover
						text-decoration: underline
						color: #469E2C 
	.copyright
		float: right
		p
			font-size: 13px
			color: #9A9A9A 


// about.html

.sidebar
	margin: 130px 0 70px 0
	width: percentage(240/980)
	float: left
	ul
		li
			padding-bottom: 20px
			a
				color: #3675aa
				font-size: 14px
				padding-bottom: 5px
				&:hover
					text-decoration: underline
					color: #469e2c
				&.active
					color: #333333
					border-bottom: 2px solid #469e2c
					text-decoration: none
	&_right
		width: percentage(140/980)
		text-align: center
		float: right
	&__wrap
		border: 1px solid #dadada
		padding: 20px
		a
			font-size: 16px
			color: #3675aa
			span
				font-size: 12px
.main
	&__wrap
		width: percentage(740/980)
		padding: 30px 30px 30px 0
		float: left
		+box
		.breadcrumbs
			a
				font-size: 12px
				color: #9a9a9a
				text-decoration: underline
				&.active
					text-decoration: none
					font-weight: bold
		.about
			padding-bottom: 30px
			p
				font-size: 16px
				color: #333
		&.wrap-center
			width: percentage(520/980)
	&__title
		font-weight: lighter
		font-size: 36px
		color: #377f25
		margin: 20px 0 30px


// board_of_directors.html
.directors
	&__in
		padding-bottom: 50px
	&__pic
		float: left
	&__wrap
		float: left
		margin-left: 25px
		width: percentage(580/740)
		font-size: 16px
		color: #333
		h4
			font-weight: bold
			padding-bottom: 5px
		span
			color: #9A9A9A
		p
			font-size: 13px
			padding-top: 15px


// career.html
.career
	p
		font-size: 16px
		color: #333
		padding-bottom: 25px
	a
		display: block
		padding-bottom: 10px
		font-size: 16px
		font-weight: bold
		color: #3675aa
		span
			display: none
.sidebar	
	&_career
		width: 220px
		h5
			font-size: 24px
			font-weight: lighter
			color: #000
		form
			p
				text-transform: uppercase
				color: #737373
				font-size: 11px
				padding: 15px 0 10px 0
			input
				width: 180px
				height: 34px
				padding: 0 10px
				border: 1px solid #dadada
				+box
			textarea
				margin-top: 15px
				width: 180px
				height: 84px
				padding: 10px
				border: 1px solid #dadada
				resize: none
				+box
			button
				margin-top: 15px
				text-align: center
				color: #FFF
				width: 180px
				height: 34px
				background: #a2ce95
	&__in
		h5
			padding-top: 30px
			font-weight: lighter
			font-size: 24px
			color: #000
		p
			padding-top: 20px
			font-size: 14px
			color: #333


// contact_us.html
.contact
	&__item
		float: left
		width: 220px
		padding-bottom: 30px